button {
  font-size: 32px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  color: $grey;
  background-color: transparent;
  border: none;
  outline: none;
}

button:active {
  color: $dark-grey;
  background-color: $grey;
  opacity: .1;
  border: none;
  outline: none;
}
