.expression-result-container {
  background-color: $white;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.expression-container {
  height: 100px;
  color: $dark-grey;
  font-size: 42px;
  margin: 20px 10px;
  letter-spacing: 2px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result-container {
  height: 50px;
  color: $mid-grey;
  font-size: 36px;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
