.input-container {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
}

.numberpad-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $dark-grey;
  width: 75%;
}

.number-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: $dark-grey;
}

.number-row:nth-child(4) {
  button:nth-child(-n+2) {
    margin-left: 8px;
  }
}

.number-row:nth-child(5) {
  button {
    font-size: 26px;
  }
}

.operators-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $mid-grey;
  width: 25%;

  button {
    font-size: 28px;
  }

  button:nth-child(1) {
    font-size: 22px;
  }
}
